@import "../styles/utils/breakpoints";
@import "../styles/utils/colors";

@media screen and (max-width: $max-lg) {
  .header_nav .header_drawer {
    width: 100%;
  }
  .detailRestaurant-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .detailRestaurant-info {
      height: 100%;
      width: 100%;
      font-size: 1em;
      padding: 1em;
    }
    .detailRestaurant {
      height: 100%;
      width: 100%;
      padding: 1em;
      text-align: left;
    }
  }
}
@media screen and (max-width: $max-xs) {
  .header_nav {
    width: 100%;
    position: absolute;
    transition: all 0.3s;
    top: -500px;
    background-color: $white;
    z-index: 10;
    .nav_item {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px;
      text-align: left;
      border-bottom: 1px solid $gray-3;
      a {
        font-size: 14px;
        :hover {
          font-weight: 700;
          color: $yellow;
        }
      }
    }
  }
  .open {
    top: 60px;
  }
  .review-header {
    flex-direction: column;
    .review-name {
      text-align: left;
      margin-bottom: 10px;
    }
    .review-date {
      text-align: left;
    }
  }
}
@media screen and (min-width: $min-sm) {
  .menu_toggle {
    display: none;
  }
}
@media screen and (min-width: $min-md) {
  .menu_toggle {
    display: none;
  }
  .list-item-content {
    padding: 16px 32px 32px 32px;
    .list-item-title {
      font-size: 18px;
    }
    .list-item-description {
      font-size: 14px;
    }
  }
  .restaurant-review {
    padding: 10px 20px;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: $min-lg) {
  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .restaurant-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}
@media screen and (min-width: $min-xl) {
  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .restaurant-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .nav_list {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: $min-xxl) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
