$yellow: #e29d27;
$white: #ffffff;
$red: #ff0000;
$gray-1: #616161;
$gray-2: #eeeeee;
$gray-3: #f0f0f0;
$black: #000000;
$black-border: #303030;
$black-shadow: rgba(0, 0, 0, 0.2);
$rgba-gray-1: rgba(0, 0, 5, 0.5);
$rgba-gray-2: rgba(54, 53, 53, 0.6);
